/* common styles */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'lato', sans-serif;

}

.buttons {
    border-radius: 8px;
    background: #E55473;
    border: none;
    font-size: 20px;
    font-family: 700;
    padding: 10px 30px;
    color: #f0ffff;

}

.p {
    color: #27272799;
    font-size: 14px;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 30px;
}


/* header related style */

.header {
    display: flex;
    align-items: center;
    background-color: #E554731A;
    background-image: url('../flowerasset/pngwing 10.png');
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: bottom right 15%;



}

.s1 {
    margin: 110px 250px;

}

.s1-title {
    color: #272727;
    font-size: 45px;
    font-weight: 800;
    width: 500px;
    margin-bottom: 30px;
}

#o {
    width: 399px;
}

/* Main related style */

.main {
    background-color: white;
    margin-top: 120px;

    /* align-items: center;
    background-repeat: no-repeat;
    background-image: url('../flowerasset/Rectangle 9.png');
    background-size: 500px;
    background-position: bottom;
    border-radius: 8px; */
}

.s2 {
    width: 399px;
    text-align: center;
    margin: 0 auto;

}

.s2-title {
    font-size: 25px;
    font-weight: 800;
    gap: 5px;
}

/* images and container in main */

.image-container {
    display: flex;
    text-align: center;
    justify-content: center;
    /* margin: 110px 150px; */
    margin-bottom: 150px;

}

.image-container img {
    width: 150px;
    height: 250px;
}

.image-con {
    margin: 5px;
    padding: 5px;
}

.images {
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    border-radius: 300px 300px 0 0;
    border: opx;
    padding: 70px 50px 0px 50px;
}

#img1 {
    background-color: #A7216226;
}

#img2 {
    background-color: #0597A026;
}

#img3 {
    background-color: #477D1126;
}

.underline {
    text-decoration: underline;
    font-weight: 700;
}

/* service section style in main */

.service {
    display: flex;
    padding: 40px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    max-width: 725px;
    max-height: 200px;
    margin-top: 0;


}

.service-con {
    padding: 0 25px 0 25px;
}

.icon {
    width: 68px;
    height: 68px;
}

.serv-title {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}

/* section hotdeal styles */

.hotdeal {
    display: flex;
    margin-top: 150px;
    justify-content: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding-top: 100px;
    align-items: center;
    padding-bottom: 100px;
}


.deal-content {
    width: 500px;
    text-align: center;
    margin: 0 auto;
    padding-left: 200px;

}

.deal-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;

}


.deal-img {
    width: 300px;
    height: 420px;
    padding-right: 220px;
}

.ink {
    color: #E55473;
}

.insta {
    margin-top: 150px;
}

.insta-content {
    width: 399px;
    text-align: center;
    margin: 0 auto;
}

.insta-title {
    color: #272727;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    gap: 5px;
}

.insta-img-cont {
    display: flex;
    margin: 0 auto;
    justify-content: center;

}

.img-insta {
    border: none;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;


}

.insta-pic {
    width: 200px;
}

/* latest deal section style */

.latest-deals {
    display: flex;
    margin-top: 0;
    margin: 0;
    justify-content: center;
}

.input {
    align-items: center;
    background-repeat: no-repeat;
    background-image: url('../flowerasset/Rectangle 9.png');
    background-size: 850px;
    background-position: center;
    padding: 100px 320px 100px 320px;
    text-align: center;

}

.textbox {
    border-radius: 0px;
    background: #FFF;
    padding: 10px 100px;
}

/* footer section styles */

.footer {
    background-color: black;
    margin-bottom: 0;
    padding-bottom: 150px;
}

.footercontainer {
    text-align: center;
    margin-top: 100px;
}

.ftitle {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    padding-top: 100px;
}

.shop {
    color: #f0ffff;
}

.r {
    color: #ffffffe6;

    text-align: center;
    font-weight: 400;
    width: 500px;
    margin: 0 auto;
}

.q {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    padding-top: 50px;
}